[package]
name = "pocket-sync"
version = "3.3.1"
description = "A Tauri App"
authors = ["you"]
license = ""
repository = ""
edition = "2021"
rust-version = "1.67.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[build-dependencies]
tauri-build = { version = "1.1", features = [] }

[dependencies]
async-walkdir = "0.2.0"
base16ct = "0.2.0"
bytes = "1.4"
crc32fast = "1.3.2"
feed-rs = "1.3.0"
futures = "0.3.28"
futures-locks = "0.7.1"
hex = "0.4.3"
md-5 = "0.10.5"
mister_saves_sync = { path = "./mister_saves_sync" }
openfpga-instance-packager = { git = "https://github.com/neil-morrison44/openfpga-instance-packager", tag = "v0.3.1" }
reqwest = "0.11.18"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
tauri = { version = "1.4", features = ["dialog-all", "fs-exists", "fs-read-file", "fs-write-file", "http-request", "os-all", "path-all", "shell-open", "updater"] }
tauri-plugin-window-state = "0.1.0"
tempdir = "0.3.7"
time = "0.3.15"
tokio = { version = "1.28.2", features = ["macros"] }
walkdir = "2.3.3"
zip = { version = "0.6.4", features = ["deflate", "time"] }

[features]
# by default Tauri runs in production mode
# when `tauri dev` runs it is executed with `cargo run --no-default-features` if `devPath` is an URL
default = ["custom-protocol"]
# this feature is used used for production builds where `devPath` points to the filesystem
# DO NOT remove this
custom-protocol = ["tauri/custom-protocol"]
