.zip-install__paths {
  flex-grow: 1;
  overflow: auto;
  background-color: var(--info-colour);
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px;
}

.zip-install__controls {
  display: flex;
  justify-content: space-around;
}

.zip-install__tree-node {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.zip-install__tree-node-info {
  display: flex;
  gap: 5px;
  align-items: center;
}

.zip-install__progress {
  width: 100%;
  accent-color: unset;
}

.zip-install__tree-node-name {
  display: flex;
  gap: inherit;
  cursor: pointer;
  align-items: center;
}

.zip-install__tree-arrow {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: white;
  clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
}

.zip-install__tree-arrow--collapsed {
  transform: rotate(-90deg);
}
