.zip-install__paths {
  flex-grow: 1;
  overflow: auto;
  background-color: var(--info-colour);
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px;
}

.zip-install__title{
  line-height: 3.2rem;
}

.zip-install__controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.zip-install__control-checkbox{
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1rem;
}

.zip-install__tree-node {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.zip-install__tree-node-info {
  display: flex;
  gap: 5px;
  align-items: center;
}

.zip-install__progress {
  width: 100%;
  accent-color: unset;
}

.zip-install__tree-node-name {
  display: flex;
  gap: inherit;
  cursor: pointer;
  align-items: center;
}

.zip-install__tree-arrow {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: white;
  clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
}

.zip-install__tree-arrow--collapsed {
  transform: rotate(-90deg);
}


.zip-install__progress-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  font-size: 1.25rem;
  height: fit-content;
  padding-block: 40px;

  /* background-color: var(--light-colour); */
  border: 5px solid var(--info-colour)
}

.zip-install__progress-bar-label {
  word-wrap: break-word;
  font-weight: bold;
}


.zip-install__progress-bar{
  width: 100%;
  accent-color: var(--selection-colour);
}
