.mister-sync{
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  gap: 10px;
}

.mister-sync__login{
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0 20vw;
  background-color: var(--hover-colour);
  padding: 15px;
  border-radius: 10px;

  & label {
    display: flex;
    justify-content: space-between;
    font-size: 1.125rem;
    align-items: center;

    & input {
      width: 50%;
      padding: 10px;
      font-size: 1rem;
    }
  }
}

.mister-sync__status{
  background-color: var(--info-colour);
  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-basis: 20vh;
  flex-shrink: 0;
  align-items: center;
  gap: 15px;
}


.mister-sync__log{
  background-color: var(--info-colour);
  color: white;
  padding: 20px;
  overflow: auto;
  white-space: pre-wrap;
  flex-basis: 20vh;
  flex-shrink: 0;
  font-family: monospace;
  box-sizing: border-box;
}

.mister-sync__content{
  flex-grow: 1;
  overflow: hidden;
}

.mister-sync__saves-list{
  position: relative;
  height: 100%;
  overflow: auto;

  --controls-height: 0px;
  --labels-height: 0px;
}

.mister-sync__saves-list-group{
  padding: 10px;
}

.mister-sync__saves-list-item{
  cursor: pointer;
  border-bottom: 1px solid rgb(255 255 255 / 20%);
  margin-bottom: 5px;
  padding: 5px;

  &:hover{
    background-color: rgb(255 255 255 / 10%);
    border-bottom: 1px solid rgb(255 255 255 / 80%);
  }
}


.mister-sync__status-equals{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.mister-sync__status-to-pocket, .mister-sync__status-to-mister{
  width: 100px;
  height: 30px;
  transition: clip-path 0.2s;
  background: var(--colour);
  cursor: pointer;
  position: relative;
  animation: none 0.4s linear infinite;
}

.mister-sync__status-to-pocket{
  --colour: var(--green-colour);

  animation-direction: reverse;
  clip-path: polygon(30% 50%, 100% 50%, 100% 100%, 0 100%, 30% 0);
}

.mister-sync__status-to-pocket--equals {
  clip-path: polygon(20% 50%, 100% 50%, 100% 100%, 0 100%, 0 50%);
}

.mister-sync__status-to-mister{
  --colour: var(--selection-colour);

  animation-direction: forward;
  clip-path: polygon(0 0, 100% 0, 65% 100%, 65% 50%, 0 50%);
}

.mister-sync__status-to-mister--equals {
  clip-path: polygon(0 0, 100% 0, 100% 50%, 80% 50%, 0 50%);
}

.mister-sync__status-to-pocket:hover, .mister-sync__status-to-mister:hover {
  background: var(--colour) linear-gradient(90deg, var(--colour) 0%, #fff4 42%, var(--colour) 100%);
  background-size: 20px 20px;
  animation-name: background-progess;
}

@keyframes background-progess {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 20px 0;
  }
}

.mister-sync__pocket, .mister-sync__mister{
  flex-grow: 0;
  flex-basis: 33vw;
  overflow: hidden;
}

.mister-sync__crc{
  opacity: 0.7;
}
