.error-boundary {
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  box-sizing: border-box;
}

.error-boundary__message {
  white-space: pre-wrap;
  color: var(--red-colour);
}

.error-boundary__stack {
  white-space: pre-wrap;
  flex-grow: 1;
  overflow: auto;
}
