.version {
  display: flex;
  gap: 5px;
  justify-content: space-between;
  align-items: flex-start;
}

.version__update {
  background-color: var(--green-colour);
  padding: 0 10px;
  border-radius: 10px;
}
