.platforms__editable {
  display: flex;
  align-items: center;
  background-color: var(--background-colour);
  gap: 10px;
  padding: 10px;

  & input {
    font-size: 1.5rem;
    flex-grow: 1;
    width: 1px;
  }
}

.platforms__editable--pre-edit {
  background-color: transparent;

  &:hover {
    & .platforms__edit-button {
      opacity: 1;
    }
  }
}

.platforms__edit-button {
  opacity: 0;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.platform__image-editable {
  position: relative;
  cursor: pointer;

  &:hover .platform__image-edit {
    opacity: 1;
  }
}

.platform__image-edit {
  opacity: 0;
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: var(--info-colour);
  font-size: 2rem;
  padding: 10px;
  pointer-events: none;
}

.platform-info__cores-title {
  padding: 0 10px;
}

.platform-info__cores-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 20px;
}

.platform-info__image{
  width: 100%;
  image-rendering: pixelated;
}

.platform__info-blurb{
  background-color: var(--info-colour);
  padding: 10px;
  display: flex;
  gap: 5px;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
}
