

.platforms__editable {
  display: flex;
  align-items: center;
  background-color: var(--background-colour);
  gap: 10px;
  padding: 10px;

  & input {
    font-size: 1.5rem;
    flex-grow: 1;
    width:1px;
  }
}

.platforms__editable--pre-edit{
  background-color: transparent;

  &:hover{
    & .platforms__edit-button{
      opacity: 1;
    }
  }
}

.platforms__edit-button{
  opacity: 0;
  cursor: pointer;

  &:hover{
    text-decoration: underline;
  }
}
