.layout {
  display: flex;
  align-items: flex-start;
  max-width: 100vw;
  position: relative;
}

.layout__sidebar-menu {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  height: 100vh;
  background-color: var(--light-colour);
  flex-basis: min-content;
  flex-shrink: 0;
  z-index: 1000;

  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-user-select: none;
  user-select: none;
}

.layout__sidebar-menu-item {
  padding: 20px;
  font-size: 1.5rem;
  cursor: pointer;
  user-select: none;
  border-bottom: 1px solid black;

  &:hover {
    background-color: var(--hover-colour);
  }

  &:first-child {
    white-space: nowrap;
  }
}

.layout__sidebar-menu-item--active {
  background-color: var(--background-colour);
}

.layout__sidebar-menu-item--disabled {
  cursor: unset;
}

.layout__content {
  flex-grow: 1;
  position: relative;
}
