.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  width: calc(100vw - var(--sidebar-width));
  flex-shrink: 1;
}

.about__update-link {
  font-size: 2rem;
  background-color: var(--green-colour);
  padding: 20px;
  border-radius: 25px;
  white-space: nowrap;
}

.about__top {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
  width: 100%;
}

.about__info {
  background-color: var(--info-colour);
  width: 100%;
  max-height: fit-content;
  justify-self: flex-end;
  text-align: left;
  padding: 0 20px;
  box-sizing: border-box;
}
