.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  width: calc(100vw - var(--sidebar-width));
  flex-shrink: 1;
}

.about__update-link {
  font-size: 1.25rem;
  background-color: var(--green-colour);
  padding: 10px 30px;
  border-radius: 25px;
  white-space: nowrap;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;

  &:hover{
    filter: brightness(90%);
  }
}

.about__top {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
  width: 100%;

  h1 {
    margin-block-end: 15px;
    filter: drop-shadow(0 0 red) drop-shadow(0 0 blue) drop-shadow(0 0 green);
    transition: filter 1s;
    width: max-content;
    display: block;
    will-change: filter;

    --x: calc(15px * var(--scale-x));
    --y: calc(5px * var(--scale-y));

    &:hover{
      filter: drop-shadow(var(--x) var(--y) red) drop-shadow(var(--x) var(--y) blue) drop-shadow(var(--x) var(--y) green);
      transition: none;
    }
  }
}

.about__title{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about__sponsor{
  width: 100%;
  padding: 5px;
  padding-block-end: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  align-items: center;

  .link{
    display: flex;
    align-items: center;
    gap: 5px;
    will-change: opacity, background-color;
    opacity: 0.8;
    font-size: 1rem;
    text-decoration: none;
    background-color: rgb(255 255 255 / 10%);
    padding-inline: 15px;
    border-radius: 50px;
    border: 1px solid rgb(255 255 255 / 10%);
  }

  .link:hover{
    opacity: 1;
    background-color: rgb(0 0 0 / 10%);
    border-color: white;
  }
}

.about__news {
  width: 100%;
}

.about__changelog-text{
  overflow: auto;
  text-align: left;
  padding-inline: 20px;
  background-color: var(--hover-colour);
  border-radius: inherit;
  flex-grow: 1;
}

.about__changelog-image{
  max-width: 60%;
}

.about__changelog-break:not(:first-of-type){
  width: 100%;
  height: 4px;
  background-color: var(--selection-colour);
  opacity: 0.5;
}

.about__changelog-title{
  display: flex;
  justify-content: space-between;
  white-space: nowrap;

  span {
    white-space: normal;
  }
}
