.progress-loader {
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 400px;
}

.progress-loader__bar{
  width: 100%;
  height: 15px;
  display: flex;
  border-radius: 10px;
  border: 1px solid white;
  box-sizing: border-box;
  flex-shrink: 0;
  padding: 2px;
  position: relative;
  opacity: 0.6;

  &::after{
    content: "";
    display: block;
    border-radius: inherit;
    background-color: white;
    width:100%;
    height: 100%;
    clip-path: polygon(0 0, var(--percent) 0, var(--percent) 100%, 0 100%);
    will-change: clip-path;
    transition: clip-path 0.2s ease-out;
  }
}

.progress-loader__info {
  white-space: nowrap;
  display: flex;
  gap: 10px;
  overflow: hidden;
  font-size: 1rem;
}

.progress-loader__info-param {
  text-overflow: ellipsis clip;
  text-align: right;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
}
