.controls {
  display: flex;
  justify-content: space-between;
  font-size: 1.125rem;
  background-color: var(--info-colour);
  position: sticky;
  top: 0;
  z-index: 100;
  border-bottom: 2px var(--light-colour) solid;
  box-shadow: 0 0 5px black;
  padding-block: 8px;
  padding-inline: 10px;
  gap: 20px;
}

.controls__item, .controls__button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  accent-color: black;
  padding-inline:10px;
  text-align: center;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-user-select: none;
  user-select: none;
}

.controls__checkbox {
  display: flex;
  gap: 0.2em;
  align-items: center;
}

.controls__search-input {
  border: 0 solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  width: 200px;
  transition: border-color 0.25s;
  min-height: 35px;
}

.controls__button {
  padding-block: 5px;
  padding-inline: 15px;
  background-color: #eee;
  color:black;
  font-weight: 500;
  clip-path: polygon(5px 0, 100% 0, calc(100% - 5px) 100%, 0 100%);

  &:hover {
    filter: brightness(80%);
  }

  &:active{
    filter: invert();
  }
}

.controls__button--back{
  padding-inline-start: 0;
}

.controls__checkbox{
  clip-path: polygon(5px 0, 100% 0, calc(100% - 5px) 100%, 0 100%);
  align-self: stretch;
  padding-inline: 10px;
  padding-block: 5px;
  background-color: #eee;
  color:black;
  font-weight: 500;
  display: flex;
  align-items: flex-end;

  input{
    display: none;
  }

  &:hover {
    filter: brightness(80%);
  }

  &:active{
    filter: invert();
  }


}

.controls__checkbox--checked{
  background-color: var(--selection-colour);
  color: white;

  &:active{
    background-color: #eee;
    color:black;
  }
}

.controls__select{
  display: flex;
  padding-inline:10px;
  clip-path: polygon(5px 0, 100% 0, calc(100% - 5px) 100%, 0 100%);
  gap: 5px;
  align-items: center;
  font-size: 1.125rem;
  flex-wrap: wrap;

  & > select {
    font-size: 1.125rem;
    font-weight: bold;
  }

  align-self: stretch;
  padding-block:2px;
  background-color: #eee;
  color:black;
  font-weight: 400;

  &:hover {
    filter: brightness(80%);
  }
}

.controls__search {
  align-self: center;
  background-color: white;
  border-radius: 10px;
}


.controls__group{
  font-size: 1rem;
  gap: 5px;
  display: flex;
  flex-direction: column;
  padding-block: 5px;
  padding-inline: 10px;
  position: relative;


  &::before, &::after{
    content:"";
    height: 100%;
    width:2px;
    background-color: white;
    opacity: 0.6;
    position: absolute;
    left:0;
    top:0;
    transform: rotate(8deg);
  }

  &::after{
    left: unset;
    right: 0;
  }
}

.controls__group-title{
  font-size: 1rem;
  width: 100%;
  line-height: 1em;
}

.controls__group-items{
  display: flex;
  gap: 10px;
  padding-inline: 5px;
}
