.modal__wrapper{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: rgb(0 0 0 / 80%);
  z-index: 2000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal{
  width: calc(100% - 100px);
  height: calc(100% - 100px);
  background-color: var(--background-colour);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  box-sizing: border-box;
  padding: 20px;
  gap: 10px;
}
