.image-packs{

}

.image-packs__content {
  flex-grow: 1;
  overflow: auto;
  display: flex;
  flex-direction: row;
  gap: 15px;
  scroll-snap-type: x mandatory;
}

.image-packs__buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: stretch;
  align-items: stretch;
  gap: 20px;
}

.image-packs__column {
  width: 250px;
  flex-direction: column;
  gap: 10px;
  flex-shrink: 0;
  display: grid;
  grid-template-rows: min-content;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  height: max-content;
  background-color: var(--background-colour);
  scroll-snap-align: start;
}

.image-packs__column--current {
  position: sticky;
  left: 0;
  z-index: 10000;
}

.image-packs__column-name {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--light-colour);
  font-size: 1.25rem;
  height: 75px;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 5px;
}

.image-packs__column-name .link {
  text-decoration: none;
}

.image-packs__column-name * {
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
}

.image-packs__item {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
}

.image-packs__item--selected {
  background-color: rgb(57 108 215 / 25%);
}

.image-packs__item--selected::after {
  content: "";
  min-width: 20px;
  aspect-ratio: 1 / 1;
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--selection-colour);
  border-radius: 15px;
  font-size: 0.75rem;
}

.image-packs__item--missing {
  background-color: var(--light-colour);
  opacity: 0.2;
  cursor: unset;
}

.image-packs__image {
  width: 100%;
  height: auto;
}
