.load-required-files {
  width: max-content;
  height: max-content;
  max-height: 80%;
  min-width: 66vw;
  min-height: 50%;
}

.load-required-files__files {
  background-color: var(--info-colour);
  padding-block: 10px;
  gap: 5px;
  border-radius: 10px;
  overflow: auto;
  flex-grow: 1;

  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 0.5em;
  row-gap: 0.5em;
}

.load-required-files__row {
  display: grid;
  grid-column: 1 / 5;
  grid-template-columns: subgrid;
  border-bottom: 1px solid rgb(255 255 255 / 25%);
  padding-inline: 20px;
  padding-block-end: 5px;
}

.load-required-files__row--exists {
  opacity: 0.75;
}

.load-required-files__buttons {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.load-required-files__skip-notice {
  text-align: right;
  opacity: 0.6;
  font-size: 0.87rem;

  &:hover {
    opacity: 0.8;
  }
}

.load-required-files__skip-input {
  display: inline-flex;
  gap: 4px;
  align-items: center;
  cursor: pointer;
}
