@font-face {
  font-family: Analogue;
  src:
    url("assets/AnalogueOS-Regular.woff2") format("woff2"),
    url("assets/AnalogueOS-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*
  The following prevents faux- bold and italic styles from being applied:
*/
@font-face {
  font-family: Analogue;
  src:
    url("assets/AnalogueOS-Regular.woff2") format("woff2"),
    url("assets/AnalogueOS-Regular.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Analogue;
  src:
    url("assets/AnalogueOS-Regular.woff2") format("woff2"),
    url("assets/AnalogueOS-Regular.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: Analogue;
  src:
    url("assets/AnalogueOS-Regular.woff2") format("woff2"),
    url("assets/AnalogueOS-Regular.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
