@font-face {
  font-family: 'Analogue';
  src: url('assets/AnalogueOS-Regular.woff2') format('woff2'),
       url('assets/AnalogueOS-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
