:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #f6f6f6;

  --background-colour: #2f2f2f;
  --hover-colour: #222;
  --info-colour: #111;
  --light-colour: #555;
  --green-colour: #589050;
  --red-colour: rgb(200 80 88);
  --purple-colour: #885090;
  --selection-colour: #396cd8;

  background-color: var(--background-colour);
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
  accent-color: white;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container {
  margin: 0;
  padding: 10vh 0;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100vh;
  box-sizing: border-box;
  gap: 20px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: 0.75s;
}

.logo.tauri:hover {
  filter: drop-shadow(0 0 2em #24c8db);
}

.row {
  display: flex;
  justify-content: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  text-align: center;
  font-family: GamePocket;
  font-size: 4rem;
  /* stylelint-disable-next-line property-no-unknown */
  font-smooth: never;
  -webkit-font-smoothing: none;
  font-variant-ligatures: discretionary-ligatures;

  /* line-height: 4.2rem; */
}

h2 {
  text-align: left;
  font-family: GamePocket;
  font-size: 3rem;
  /* stylelint-disable-next-line property-no-unknown */
  font-smooth: never;
  -webkit-font-smoothing: none;
  padding: 0 10px;
  margin-bottom: 15px;
  font-variant-ligatures: discretionary-ligatures;

  /* line-height: 3.2rem; */
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #fff;
  background-color: #0f0f0f98;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgb(0 0 0 / 20%);
}

button {
  cursor: pointer;
}

button:hover {
  border-color: var(--selection-colour);
}

input,
button {
  outline: none;
}
