.core-info{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.core-info__image{
  width: 100%;
  image-rendering: pixelated;
}


.core-info__title{
  padding: 0px 20px;
  font-size: 2rem;
}

.core-info__info{
  background-color: var(--info-colour);
  padding: 10px;
  display: flex;
  gap: 5px;
  flex-direction: column;
  flex-grow: 1;
}

.core-info__info-row{
  display: flex;
  align-items: center;
  gap: 10px;
  grid-column: 1;
}

.core-info__info-row--right{
  grid-column: 2;
}

.core-info__info-grid{
  display: grid;
  gap: inherit;
  grid-template-columns: 1fr min-content;
}

.core-info__author-tag{
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  align-items: center;

  image-rendering: pixelated;
}

.core-info__supports-bubbles{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.core-info__supports {
  white-space: nowrap;
  background-color: var(--light-colour);
  padding: 0 5px;
  border-radius: 5px;
}

.core-info__platforms{
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.core-info__platform-loader{
  width: 100px;
  aspect-ratio: 4 / 2;
  border-radius: 15px;
}

.core-info__supports--false{
  opacity: 0.2;
}
