.core-info {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.core-info__image {
  width: 100%;
  image-rendering: pixelated;
}

.core-info__title {
  padding: 0 20px;
  font-size: 2rem;
}

.core-info__replaced{
  background-color: var(--red-colour);
  font-size: 1.8rem;
  padding: 2rem;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25em;

  &::after{
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    border-right: 5px solid white;
    border-bottom: 5px solid white;
    transform: rotate(-45deg);
    opacity: 0.5;
  }

  &:hover {
    /* filter: brightness(110%); */

    &::after{
      opacity: 1;
    }

    & strong{
      text-decoration: underline;
    }
  }
}

.core-info__requires-license, .core-info__analogizer{
  background-color: var(--purple-colour);
  white-space: pre-wrap;
  display: flex;
  gap: 12px;
  padding: 12px;
}

.core-info__analogizer{
  background-color: rgb(101 156 222);
}

.core-info__firmware-warning{
  background-color: var(--red-colour);
  cursor: pointer;
  white-space: pre-wrap;
  display: flex;
  gap: 12px;
  padding: 12px;
}

.core-info__info {
  background-color: var(--info-colour);
  padding: 10px;
  display: flex;
  gap: 5px;
  flex-direction: column;
  flex-grow: 1;
}

.core-info__info-row {
  display: flex;
  align-items: center;
  gap: 10px;
  grid-column: 1;
}

.core-info__info-row--stretch {
  grid-column: 1 / 2;
  display: flex;
  justify-content: space-between;
  gap: inherit;

  & * {
    flex-grow: 1;
  }
}

.core-info__info-row--hide-if-null {
  &:has(>:first-child:last-child){
    display: none;
  }
}

.core-info__info-row--right {
  grid-column: 2;
}

.core-info__info-grid {
  display: grid;
  gap: inherit;
  grid-template-columns: 1fr auto;
  grid-auto-flow: dense;
}

.core-info__supports-bubbles {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.core-info__supports {
  white-space: nowrap;
  background-color: var(--light-colour);
  padding: 0 5px;
  border-radius: 5px;
}

.core-info__platforms {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.core-info__platform-loader {
  width: 100px;
  aspect-ratio: 4 / 2;
  border-radius: 15px;
}

.core-info__supports--false {
  opacity: 0.45;
}

.core-info__supports--button {
  cursor: pointer;

  &:hover{
    opacity: 1;
    filter: brightness(150%);
  }
}

.core-info__info-txt {
  white-space: pre-wrap;
}


.core-info__download-graph-bar{
  display: block;
  position: absolute;
  background-color: white;
  opacity: 0.6;
  bottom: 0;
  cursor: pointer;

  &:hover{
    opacity: 1;
  }
}
