name: "test-on-pr"
on: [pull_request]

jobs:
  test-tauri:
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: macos-latest
            target: universal-apple-darwin
          - platform: ubuntu-20.04
            target: x86_64-unknown-linux-gnu
          - platform: windows-latest
            target: x86_64-pc-windows-msvc

    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v2
      - name: setup node
        uses: actions/setup-node@v1
        with:
          node-version: 16
      - name: install Rust stable
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - name: install dependencies (ubuntu only)
        if: matrix.platform == 'ubuntu-20.04'
        run: |
          sudo apt-get update
          sudo apt-get install -y libgtk-3-dev webkit2gtk-4.0 libappindicator3-dev librsvg2-dev patchelf
      - name: install Rust target (macOS)
        if: matrix.platform == 'macos-latest'
        run: |
          rustup target add aarch64-apple-darwin 
          rustup target add x86_64-apple-darwin
      - name: install Rust target (Windows, Linux)
        if: matrix.platform != 'macos-latest'
        run: rustup target add ${{ matrix.target }}
      - name: install app dependencies and build it
        run: npm i && npm run build
      - uses: tauri-apps/tauri-action@66d49884fa48bf8636778f633b2cdc8a67115058
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          args: --target ${{ matrix.target }}
      - uses: actions/upload-artifact@v3
        with:
          name: bundle
          path: src-tauri/target/${{ matrix.target }}/release/bundle/
