.cores__platform-image {
  width: 100%;
}

.cores__info-blurb {
  background-color: var(--info-colour);
  padding: 10px;
  display: flex;
  gap: 5px;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
}

.cores__info-blurb-name {
  font-weight: bold;
}

.cores__author-tag {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cores__author-tag-image {
  width: 24px;
  height: 24px;
}

.cores__item-analogizer{
  position: absolute;
  color: rgb(101,156,222);
  right: 0;
  top:0;
  margin: 2px;
  font-size: 1.2rem;
  filter: drop-shadow(0 0 4px rgba(0,0,0,0.25));
}

.cores__item {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  overflow: hidden;

  &:hover,
  &:focus {
    transform: scale(1.1);
  }
}

.cores__item--not-installed {
  background-color: var(--info-colour);
  justify-content: space-between;

  /* padding: 10px; */

  /* font-weight: bold; */
  cursor: pointer;
}

.cores__not-installed-item-id {
  font-weight: normal;
  font-size: 0.825rem;
}

.cores__item-sponsor-banner{
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--purple-colour);
  transform: translateX(40px) translateY(5px) rotate(35deg);
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
